.hide {
  display: none;
}
/* #region Base */
html {
  scroll-behavior: smooth;
}
body {
  font-family: Montserrat, sans-serif;
  color: #111;
  background: #fafafa;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
}
/* #endregion Base */

/* #region Animations */
@keyframes move-bottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes move-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* #endregion Animations */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.ingridients,
.made,
.products,
.bestsellers,
.reviews {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .ingridients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 60px 0;
  }
}
/* Mobile devices */
.container {
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
/* Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    padding: 0 16px;
  }
}
/* Desktop devices */
@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;
  }
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .ingridients-title,
  .made-title,
  .products-title,
  .bestsellers-title,
  .reviews-title {
    max-width: 412px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}
.accent {
  color: #fd9222;
}
.btn {
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;

  font-weight: 600;
  line-height: 1.21;
  color: #fff;
  background: transparent;
  border-radius: 100px;
  border: 1px solid transparent;

  transition: color 300ms ease, background-color 300ms ease,
    border-color 300ms ease;
}
.btn-accent {
  background: #fd9222;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background: #fcf1e0;
}
.btn-light {
  color: #fff;
  border-color: #fff;
}
.btn-light:hover,
.btn-light:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: #fd9222;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background: #fd9222;
}
/* #endregion Common */

/* #region Logo */
.logo {
  display: inline-flex;
  align-items: center;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-accent {
  font-style: italic;
  margin-left: 4px;
}
/* #endregion Logo */

/* #region Socials */
.socials {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;

  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  transition: color 300ms ease-in, border-color 300ms ease-in;
}
.socials-link:hover,
.socials-link:focus {
  color: #fd9222;
  border-color: rgba(253, 146, 34, 0.1);
}
.socials-icon {
  fill: currentColor;
}
/* #endregion Socials */

/* #region Header */
.header {
  position: sticky;
  top: 0px;
  z-index: 10;

  transition: backdrop-filter 400ms ease-out, background-color 400ms ease-out;
}
.header.active {
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.4);
}
.header > .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
  margin-right: 90px;
}
.header-list {
  display: flex;
  gap: 24px;
}
.header-item {
}
.header-link {
  position: relative;
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;

  transition: color 300ms ease;
}
.header-link:hover,
.header-link:focus {
  color: #fd9222;
}
.header-link::after {
  content: '';
  position: absolute;
  bottom: 10px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: transparent;
}
.header-link.current::after {
  background: #fd9222;
}
/* #endregion Header */

/* #region Hero */
.hero {
  padding-bottom: 80px;
}
.hero > .container {
  padding: 381px 40px 40px 40px;

  border-radius: 30px;
  background: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.1),
      rgba(17, 17, 17, 0.1)
    ),
    url('../images/hero/hero-bg-progressive.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;

  animation: move-bottom 500ms ease-in 500ms alternate both;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-list {
  display: inline-flex;
  gap: 14px;
}
.hero-item {
}
.hero-btn {
  animation: move-right 500ms ease-in both;
}
.hero-btn:first-child {
  animation-delay: 1000ms;
}
.hero-item:first-child .hero-btn {
  animation-delay: 1300ms;
}
.hero-item:last-child .hero-btn {
  animation-delay: 1000ms;
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;

  transition: color 300ms ease;
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-link-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  background: #fff;
  border-radius: 50%;
}
.hero-link-icon {
}
/* #endregion Hero */

/* #region Benefits */
.benefits {
  padding: 20px 0;
  background: #1e1823;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}
.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits-list {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .benefits-item {
    width: 308px;
  }
}
.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 62px;
  height: 62px;
  margin-bottom: 22px;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-caption {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
.benefits-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion Benefits */

/* #region Ingridients */
.ingridients {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .ingridients {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients {
    padding-top: 120px;
  }
}
.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 32px;
}
@media only screen and (min-width: 768px) {
  .ingridients-list {
    gap: 32px;
  }
}
.ingridients-item {
  position: relative;
  width: 100%;

  padding: 28px;
  padding-top: 32px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid transparent;
}
@media only screen and (max-width: 767.98px) {
  .ingridients-item:nth-last-child(-n + 3) {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .ingridients-item {
    width: calc((100% - 32px * 1) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .ingridients-item {
    width: calc((100% - 32px * 3) / 4);
  }
}
.ingridients-item:nth-child(4n + 1) {
  color: #fff;
  background: #fd9222;
}
.ingridients-item:nth-child(4n + 3) {
  color: #fff;
  background: #1e1823;
}
.ingridients-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingredients-icon {
  position: absolute;
  top: 14px;
  right: 14px;

  fill: transparent;
  stroke: #fff;
}
.ingridients-ill {
  margin: 0 auto;
}
.ingridients-caption {
  margin-top: 16px;
  /* margin-top: 36px; */

  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion Ingridients */

/* #region Made */
.made {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  position: relative;
}
.made-pic {
}
.made-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  background: transparent;
}
.made-btn-icon {
  fill: none;
  stroke: #fff;
}
.made-right-side {
  padding: 32px;
  border-radius: 15px;
  background: #fff;
}
.made-subtitle {
  width: 350px;
  margin-bottom: 28px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  display: flex;
  gap: 8px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-item::before {
  content: '';
  flex-shrink: 0;

  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 5px;

  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
/* #endregion Made */

/* #region Products */
.products {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.products-item {
  width: calc((100% - 18px * 3) / 4);

  padding: 32px 20px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  text-align: center;
}
.products-ill {
}
.products-heading {
  margin: 8px 0 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-category {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-price {
  padding: 8px 20px;
  font-weight: 600;
  line-height: 1.21;

  background: #fafafa;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
/* #endregion Products */

/* #region Bestsellers */
.bestsellers {
}
.bestsellers-list {
  display: flex;
  gap: 16px;
}
.bestsellers-item {
  border-radius: 0px 0px 15px 15px;
  transition: box-shadow 300ms ease;
  cursor: help;
}
.bestsellers-item:hover {
  box-shadow: 0 10px 5px rgba(17, 17, 17, 0.3);
  transition-delay: 500ms;
}
.bestsellers-thumb {
  position: relative;
  overflow: hidden;
}
.bestsellers-ill {
  border-radius: 15px 15px 0px 0px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);

  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fafafa;

  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 4%,
    rgba(8, 2, 21, 0) 110%
  );
  backdrop-filter: blur(8px);
  transition: transform 500ms ease-out;
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}
.bestsellers-caption {
  padding: 28px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;

  background: #fff;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
}
/* #endregion Bestsellers */

/* #region Reviews */
.reviews {
}
.reviews-title {
  margin-bottom: 92px;
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;

  margin-bottom: 50px;
}
.reviews-item {
  position: relative;

  width: 360px;
  padding: 24px;
  padding-top: 56px;

  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9px 100px 0px rgba(17, 17, 17, 0.03);
}
.reviews-avatar {
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-author {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews .btn {
  display: block;
  margin: 0 auto;
}
/* #endregion Reviews */

/* #region Footer */
.footer {
  background: #1e1823;
}
.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-slogan-accent {
  color: #fd9222;
}
.footer-address {
}
.footer-caption {
  font-weight: 500;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}
.footer-contatcs {
}
.footer-menu {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;

  transition: color 300ms ease;
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}
/* #endregion Footer */

/* #region Contacts */
.contacts {
}
.contacts-item {
}
.contacts-link {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fff;

  transition: color 300ms ease;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #fd9222;
}
/* #endregion Contacts */

/* #region Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  width: 100%;
  height: 100%;

  background: rgba(19, 19, 19, 0.5);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 300ms ease-in, visibility 300ms ease-in;
  transition-delay: 200ms;
}
.backdrop.is-hidden {
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  transition-timing-function: ease-out;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 517px;
  min-height: 794px;
  padding: 40px;

  background: #fff;
  border-radius: 20px;
  transition: transform 200ms ease-in, opacity 200ms ease-in;
  transition-delay: 300ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
  transition-delay: 0ms;
  transition-timing-function: ease-out;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  padding: 0;
}
.modal-btn-icon {
  stroke: #111111;
  transition: stroke 300ms ease;
}
.modal-btn:hover .modal-btn-icon {
  stroke: #fd9222;
}
.modal-caption {
  width: 298px;
  margin-bottom: 40px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.modal-form {
}
.modal-form-field {
  margin-bottom: 18px;
}
.modal-form-label {
  display: block;
  margin-bottom: 8px;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  padding: 22px 62px;
  width: 100%;
  height: 68px;

  font-size: 18px;
  letter-spacing: -0.02em;

  border-radius: 13px;
  border: 1.5px solid #fd9222;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  outline: transparent;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);

  stroke: #404040;
}
/* #endregion Modal */

.review-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 408px;
  width: calc(100% - 20px);
  min-height: 584px;
  padding: 24px;
  padding-top: 72px;

  background: #fcfcfc;
}
.review-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background 300ms ease-in-out, border-color 300ms ease-in-out;
}
.review-modal-btn:hover,
.review-modal-btn:focus {
  background: #404bbf;
  border-color: transparent;
}
.review-modal-icon {
  fill: #2e2f42;
  transition: fill 300ms ease-in-out;
}
.review-modal-btn:hover .review-modal-icon,
.review-modal-btn:focus .review-modal-icon {
  fill: #ffffff;
}
.review-modal-caption {
  display: block;
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--NAVY-BLUE, #2e2f42);
}
.review-form {
}
.review-form-field {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.review-form-input {
  width: 100%;
  height: 40px;
  padding: 0 38px;

  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: border-color 300ms ease-in-out;
}
.review-form-input:focus {
  border-color: #4d5ae5;
}
.review-form-input::placeholder {
  color: red;
  opacity: 0;
  transition: opacity 150ms ease-in;
}
.review-form-input:focus::placeholder {
  opacity: 1;
  transition-delay: 350ms;
}
.review-form-label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);

  padding: 0 10px;
  background: #fff;

  transition: transform 300ms ease-in;
}
.review-form-input:focus + .review-form-label,
.review-form-input:not(:placeholder-shown) + .review-form-label {
  transform: translateX(-30%) translateY(-155%) scale(0.6);
}
.review-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 300ms ease-in-out;
  user-select: none;
}
.review-form-input:focus ~ .review-form-icon {
  fill: #4d5ae5;
}
.review-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 300ms ease, box-shadow 300ms ease;
}
input[type='checkbox']:checked ~ .review-form-checkbox {
  background: #404bbf;
  border-color: transparent;
}
input[type='checkbox']:focus-visible ~ .review-form-checkbox {
  box-shadow: 0 0 0 4px rgba(64, 75, 191, 0.25);
}
.review-form-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 300ms ease 150ms,
    transform 300ms cubic-bezier(0.61, -0.01, 0.52, 1.46) 150ms;
}
input[type='checkbox']:checked
  ~ .review-form-checkbox
  > .review-form-checkbox-icon {
  opacity: 1;
  transform: scale(1);
}
.review-form-link {
  color: #4d5ae5;
}
.review-form-btn {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  min-width: 169px;
  min-height: 56px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 4px;
  border: transparent;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 300ms ease-in;
}
.review-form-btn:hover,
.review-form-btn:focus {
  background: #1624bb;
}
.review-form-btn:disabled {
  background: #848486;
  cursor: not-allowed;
}

.review-form-input:not(:placeholder-shown):valid:required {
  border-color: lightgreen;
}
.review-form-input:not(:placeholder-shown):valid:required ~ .review-form-icon {
  fill: lightgreen;
}
.review-form-input:not(:placeholder-shown):invalid:required {
  border-color: red;
}
.review-form-input:not(:placeholder-shown):invalid:required
  ~ .review-form-icon {
  fill: red;
}
.success,
.error {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  opacity: 0;
  transition: opacity 300ms ease-in;
}
.success {
  fill: lightgreen;
}
.error {
  fill: red;
}
.review-form-input:not(:placeholder-shown):valid:required ~ .success {
  opacity: 1;
}
.review-form-input:not(:placeholder-shown):invalid:required ~ .error {
  opacity: 1;
}
