/* #region */
.wrapper {
  width: 800px;
  /* min-height: 600px; */
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;

  list-style-type: none;
  border-radius: 10px;
  background-color: lightgreen;
  outline: 5px solid rgb(75, 167, 75);
  outline-offset: -5px;
}

.item {
  width: 150px;
  height: 150px;

  font-size: 64px;
  line-height: 150px;
  color: white;
  text-align: center;

  border-radius: 10px;
  background-color: slateblue;
  outline: 5px solid rgb(45, 35, 125);
  outline-offset: -5px;
}
/* #endregion */

/*=====================================*\
  FLEX BOX
\*=====================================*/
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  /* Default properties */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* flex-wrap: nowrap; */
}
.item {
  /* flex-basis: calc((100% - 20px * 3) / 4); */
  width: calc((100% - 20px * 3) / 4);

  /* Default properties */
  /* flex-basis: auto; */
  /* flex-shrink: 1; */
  /* flex-grow: 0; */
}

/* Flex grow */
body {
  min-height: 100vh;
  font-size: 60px;
  color: white;
  font-weight: 700;
  text-align: center;

  display: flex;
  flex-direction: column;
}
header {
  flex-grow: 2;

  padding: 40px;
  background-color: lightblue;
}
main {
  flex-grow: 1;

  padding: 40px;
  background-color: salmon;
}
footer {
  padding: 40px;
  background-color: lightgreen;
}
